{% args version, latest %}

<!DOCTYPE html>
<html lang="en">
    {% include 'head.tpl' %}
	<body>
       {% include 'masthead.tpl' %}
         <div class="pagesection">
            <div class="component">
                {% include 'component_header.tpl' 'Firmware' %}
                <div class="ui__body">
                    <p>Installed firmware version: {{ version }}</p>
                    <p>Latest stable firmware version: {{ latest }}
                    <form class="form form__firmaware">
                        <p><button>Install firmware</button></p>
                    </form>
                </div>
            </div>
        </div>
       {% include 'footer.tpl' %}
	</body>
</html>