<!DOCTYPE html>
<html lang="en">
    {% include 'head.tpl' %}
	<body>
       {% include 'masthead.tpl' %}
        <div class="pagesection">
            <div class="component">
                <div class="ui__body">
                    <ul class="navlist">
                        <li>
                            <a href="/networks">Manage network connection</a>            
                        </li>
                        <li>
                            <a href="/logging">Data logging service</a>
                        </li>
                        <li>
                            <a href="/hardware">Configure hardware</a>            
                        </li>
                        <li>
                            <a href="/firmware">Update firmware</a>            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
       {% include 'footer.tpl' %}
	</body>
</html>