{% args thingspeak, awsiot, active_logger %}

<!DOCTYPE html>
<html lang="en">
    {% include 'head.tpl' %}
	<body>
       {% include 'masthead.tpl' %}
        <div id="vue_app" class="pagesection">
            <div  class="component">
                {% include 'component_header.tpl' 'Logging service' %}
                <div 
                    class="ui__body ani_height" 
                    :style="{ height: formheight }"
                    v-on:transitionend="ani_end"
                >
                    <form class="form form__logging" method="post">
                        <fieldset>
                            <p>
                                <label>
                                    Logging service
                                    <select 
                                        name="service"
                                        v-model="service"
                                        v-on:change="ani_start"
                                    >
                                        <option{% if active_logger == '' %} selected{% endif %} value="">-- No service selected --</option>
                                        <option{% if active_logger == 'thingspeak' %} selected{% endif %} value="thingspeak">{{ thingspeak['name'] }}</option>
                                        <option{% if active_logger == 'awsiot' %} selected{% endif %} value="awsiot">{{ awsiot['name'] }}</option>
                                    </select>
                                </label>
                            </p>
                        </fieldset>
                        <fieldset {% if active_logger != 'thingspeak' %} v-cloak {% endif %} v-if="service=='thingspeak'">
                        <h3>ThingSpeak</h3>
                            <p>
                                <label>
                                    API Key <input name="ts_key" type="text" value="{{ thingspeak['key'] }}">
                                </label>
                            </p>
                        </fieldset>
                        <fieldset  {% if active_logger != 'awsiot' %} v-cloak {% endif %} v-if="service=='awsiot'">
                            <h3>Amazon web service, IoT</h3>
                            <p>
                                <label>
                                    Certificate <input name="cert" type="file" value="{{ awsiot['cert'] }}">
                                </label>
                            </p>
                            <p>
                                <label>
                                    Private key <input name="aws_key" type="file" value="{{ awsiot['key'] }}">
                                </label>
                            </p>
                            <p>
                                <label>
                                    Endpoint subdomain <input name="subdomain" type="text" value="{{ awsiot['subdomain'] }}">
                                </label>
                            </p>
                            <p>
                                <label>
                                    Endpoint region <input name="region" type="text" value="{{ awsiot['region'] }}">
                                </label>
                            </p>
                        </fieldset>
                        <p>
                            <a class="button" href="/">Cancel</a> 
                            <button name="submit" type="submit">Save</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        {% include 'footer.tpl' %}
        <script>
            var app = new Vue({
                el: '#vue_app',
                data: {
                    formheight: "auto",
                    service :"{{ active_logger }}",
                },
                methods:{
                    ani_start: function(){
                        var style = this.$refs.form.currentStyle || window.getComputedStyle(this.$refs.form);
                        var margintop = parseInt(style.marginTop.slice(0,-2));
                        var marginbottom = parseInt(style.marginBottom.slice(0,-2));
                        this.formheight = this.$refs.form.offsetHeight + margintop + marginbottom + "px";
                    },
                    ani_end: function(){
                        this.formheight = "auto";
                    }
                },
                updated:function(){
                    if(this.formheight != 'auto'){
                        this.ani_start();
                    }
                }
                
            })
        </script>
	</body>
</html>