{% args network %}

<!DOCTYPE html>
<html lang="en">
    {% include 'head.tpl' %}
	<body>
       {% include 'masthead.tpl' %}
        <div class="pagesection">
            <div class="component">
                <div class="ui__header">
                    <h1>Network details</h1>
                </div>
                <div class="ui__body">
                    <form id="form form__network">
                        <p>
                            <label>
                                Network name (SSID) <input type="text" value="{{ network.ssid }}">
                            </label>
                        </p>
                        <p>
                            <label>
                                Password <input type="password" value="{{ network.pwd }}">
                            </label>
                        </p>
                        <p>
                            <a class="button" href="/networks">Cancel</a> 
                            {% if network.connected %}<button>Forget</button>{% else %}<button>Connect</button>{% endif %}
                        </p>
                    </form>
                </div>
            </div>
        </div>
       {% include 'footer.tpl' %}
	</body>
</html>