{% args config, alert %}

<!DOCTYPE html>
<html lang="en">
    {% include 'head.tpl' %}
	<body>
       {% include 'masthead.tpl' %}
        {% if alert.message %}
            {% include 'alert.tpl' %}
        {% endif %}
        <div class="pagesection">
            <div class="component">
                {% include 'component_header.tpl' 'Device configuration' %}
                <div class="ui__body">
                    <div class="content">
                        <p>Some explaination needed? ...</p>
                    </div>
                    <form method="post" class="form form__device">
                        {% for circuit in config %}
                        <fieldset>
                                <h2>{{ circuit['Name'] }}</h2>
                                <div class="grid-4">
                                    <p>
                                        <label>
                                        CRC1 <input name="{{circuit['Name']}}_CRC1" type="text" value="{{ circuit['CRC1'] }}">
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                        CRC2 <input name="{{circuit['Name']}}_CRC2" type="text" value="{{ circuit['CRC2'] }}">
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                        Gain <input name="{{circuit['Name']}}_Gain" type="text" value="{{ circuit['Gain'] }}">
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                        U-Gain <input name="{{circuit['Name']}}_Ugain" type="text" value="{{ circuit['Ugain'] }}">
                                        </label>
                                    </p>
                                </div>
                        </fieldset>
                        {% endfor %}
                        <p><a class="button" href="/">Cancel</a> <button type="submit" name="submit">Save</button></p>
                    </form>
                </div>
            </div>
        </div>
       {% include 'footer.tpl' %}
	</body>
</html>