button, .button{
    background: none;
    border: 1px solid $grey_lt;
    font-size: 14px;
    font-weight: bold;
    padding: $u_sm $u;
    text-decoration: none;
    &:hover{
        background: $blue_xlt;
        cursor: pointer;
    }
    &:disabled{
        background: none;
        color: $grey_lt;
    }
}

.btn_close{
    background: #a36c76;
    display: block;
    height: 30px;
    overflow: hidden;
    position: relative;
    text-indent: 100%;
    width:30px;
    svg{
        fill: #fff;
        position: absolute;
        left: 0;
        top: 0;
    }
}