/* Common and resets */
// Not much should go in here! 
//EVERTHING should be proactively styled, nothing should be left to 'default' styling.

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #f4f4f4;
    font-family: verdana,arial,sans-serif;
    font-size: 14px;
}

.smalltext{
    font-size: 11px;
    color: $grey;
}

