
html{
    background: url('bg_noise.png') repeat $grey_xdk;
}
body{
    font-family: verdana,arial,sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 100vh;
}

.pagesection{
    overflow: hidden;
    padding: $u;
}
.pagesection > *{
    margin: auto;
    max-width: 500px;    
}

.component{
    background: #fff;
    border: 1px solid $grey_lt;
    border-radius: 3px;
        &>*{ 
            padding: $u_sm;
        }
    
    .ui__header{
        &>*{ 
            margin: 0;
        }
        background: #eee;
        font-size: 10px;
    }
    
}