.navlist{

    list-style: none;
    margin: 0;
    padding:0;

    li + li{
        border-top: 1px solid $grey_xlt;
    }
    li > a{
        color: #000;
        display: block;
        padding: $u_sm $u;
        text-decoration: none;
        transition: background-color 0.2s ease;
    }
    li > a:hover,
    li > a.active{
        background: $blue_xlt;
        transition: background-color 0.4s ease;
    }
    li > a.active:hover{
        background: $blue_lt;
        transition: background-color 0.8s ease;
    }
    .details{
        @extend .smalltext;
        float: right;
    }
}
.navlist + .navlist{
    border-top: 1px solid $grey_lt;
}

.mainmenu{
    list-style: none;
    max-width: $max_content_width *0.66;
    margin: auto;
    padding:0;
    
    .details{
        display: block;
        font-size: 11px;
        color: $grey;
    }
    
    li + li > a{
        border-top: 1px solid $grey_dk;
    }
    li > a{
        color: $grey_xlt;
        display: block;
        padding: $u;
        text-decoration: none;
        transition: background-color 0.2s ease;
    }
    
}