
table{
    border-collapse: collapse;
    border-bottom: 1px solid $grey_lt;
    border-top: 1px solid $grey_lt;
    width: 100%;
}
tr + tr{
    border-top: 1px dotted $grey_xlt;
}
td{
    padding: $u_sm;
}