
/* Common measurement units (u_ prefix) */;
$u: 16px;
$u_sm: $u/2;
$u_xs: $u/4;

/* colour palette */
$grey_xdk:  #424242;
$grey_dk:  #575757;
$grey:      #999;
$grey_lt:   #ccc;
$grey_xlt:  #e8e8e8;

$blue_xlt:  #f4f8ff;
$blue_lt:  #DCEAFF;
$blue_xdk: #1958c6;

$emon_green: #CCFF00;