
/* Common measurement units (u_ prefix) */;
$u: 16px;
$u_sm: $u/2;
$u_xs: $u/4;

/* colour palette */
$grey_xdk:  #1a1a1a;
$grey:      #999;
$grey_lt:   #ccc;
$grey_xlt:  #e8e8e8;

$blue_xlt:  #e4e7ed;